<!--NAVBAR-->
<nav class="nav1  navbar navbar-expand-lg navbar-light" style="background-color:whitesmoke;">
  <a class="navbar-brand">
    <img src="../assets/img/logoUD.png" height="60">
  </a>
  <div>
    <h4>SISTEMA DE BIBLIOTECAS</h4> 
    <h6>UNIVERSIDAD DISTRITAL FRANCISCO JOSE DE CALDAS</h6>
  </div>
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="nav justify-content-end collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link active" routerLink="/createComp">Nuevo Registro</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/logComp">Ingresar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/helpComp">Ayuda</a>              
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/conComp">Home</a>              
      </li>
 
   
    </ul>
  </div>
  
</nav>
  

<!--NAVBAR-->
