<footer class="py-2 bg-dark">
  

  <div class="row d-flex justify-content-between py-4 my-4 border-top">
    <div class="col-8">
      <p>Institución de Educación Superior sujeta a inspección y vigilancia por el Ministerio de Educación Nacional | Acuerdo de creación N° 10 de 1948 del Concejo de Bogotá  | Acreditación Institucional de Alta Calidad - Resolución N° 23096 del 15 de diciembre del 2016</p>

    </div>
    <div class="col-4">
      <p>Gestión Calidad Verificación y Validación de Software</p>
    </div>
  </div>
</footer>