.centrarAbsoluto{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.card-title{
    text-align: center;
}
svg{
    display: block;
    margin: auto;
}
form{
    justify-content: space-between;
}
