<div class="container p-4 col-3">
    <div class="card">
        <div class="card-header bg-danger">
            <h5 class="card-title text-white">Iniciar sesión - Administrador</h5>
        </div>
        <div class="card-body">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-circle" width="100"
                height="100" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <circle cx="12" cy="12" r="9" />
                <circle cx="12" cy="10" r="3" />
                <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855" />
            </svg>
            <div>
                <div class="mb-3">
                    <label for="inputEmail" class="form-label fw-bold">Email institucional</label>
                    <input type="email" class="form-control" id="email" #email>
                </div>
                <div class="mb-3">
                    <label for="inputPassword" class="form-label fw-bold">Contraseña</label>
                    <input type="password" class="form-control" id="password" #password>
                </div>
                <button class="btn btn-success" (click)='login(email.value,password.value)'>Iniciar sesión</button>
                <button class="btn btn-danger" *ngIf="auth.getTokenUser()" (click)='auth.logout()'>Logout</button>
                <!-- <button class="btn btn-light" (click)='auth.TesttokenUser()'>token</button> -->
            </div>


        </div>
    </div>
</div>
